@using AlgoCode.Application.Features.Subscriptions.Queries.GetAll
@model GetAllSubscriptionsQueryResponse

<!-- ============================ Pricing Table ================================== -->
<section class="min">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8">
                <div class="sec-heading center">
                    <h2>Select Your <span class="theme-cl">Package</span></h2>
                    <p>Get started with a AlgoCode Subscription that works for you.</p>
                </div>
            </div>
        </div>
        @if (TempData["Notification"] != null)
        {
            @* <div class="alert alert-success">@TempData["Notification"]</div> *@
            <script>swal("@TempData["NotificationType"]", "@TempData["Notification"]", "@TempData["NotificationType"]");</script>

        }
        <div class="row align-items-center">

            @foreach (var subscription in Model.Subscriptions)
            {
                <div class="col-lg-6 col-md-6">
                    <div class="pricing_wrap" style="background-color: @(subscription.Duration == SubscriptionType.Yearly ? "#FEEBD4" : "#F7F7F7"); border:1px solid@(subscription.Duration == SubscriptionType.Yearly ? "#FEC98F" : "#F7F7F7"); ">
                        <div class="prt_head d-flex align-items-baseline justify-content-between">
                            <div class="d-flex align-items-baseline">
                                <h3>@subscription.Title</h3>
                                <span class="ms-3">billed @subscription.Duration</span>
                            </div>
                            @if (subscription.Duration == SubscriptionType.Yearly)
                            {
                                <div class="recommended">🎉 Most Popular</div>
                            }
                        </div>
                        <div class="prt_body">
                            <p>
                                @Html.Raw(subscription.Description)
                            </p>
                        </div>
                        <div class="d-flex justify-content-between align-items-baseline">
                            <div class="prt_price">
                                <h2><span>$</span>@subscription.Price</h2>
                                <span><b>/</b>mo</span>
                            </div>
                            <div>
                                <span>Prices are marked in USD</span>
                            </div>
                        </div>
                        <div class="prt_footer">
                            <a asp-action="subscribe" asp-controller="pricing" asp-route-id="@subscription.Id" class="btn choose_package">Subscribe</a>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</section>
<!-- ============================ Pricing Table End ================================== -->
<!-- ============================ partner Start ================================== -->
<section class="gray">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8">
                <div class="sec-heading center">
                    <h2>Trusted By <span class="theme-cl">10,000</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">

            <!-- Single Item -->
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="crs_partn">
                    <div class="p-3">
                        <img src="~/assets/img/lg-1.png" class="img-fluid" alt="" />
                    </div>
                </div>
            </div>

            <!-- Single Item -->
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="crs_partn">
                    <div class="p-3">
                        <img src="~/assets/img/lg-2.png" class="img-fluid" alt="" />
                    </div>
                </div>
            </div>

            <!-- Single Item -->
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="crs_partn">
                    <div class="p-3">
                        <img src="~/assets/img/lg-3.png" class="img-fluid" alt="" />
                    </div>
                </div>
            </div>

            <!-- Single Item -->
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="crs_partn">
                    <div class="p-3">
                        <img src="~/assets/img/lg-4.png" class="img-fluid" alt="" />
                    </div>
                </div>
            </div>

            <!-- Single Item -->
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="crs_partn">
                    <div class="p-3">
                        <img src="~/assets/img/lg-5.png" class="img-fluid" alt="" />
                    </div>
                </div>
            </div>

            <!-- Single Item -->
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="crs_partn">
                    <div class="p-3">
                        <img src="~/assets/img/lg-6.png" class="img-fluid" alt="" />
                    </div>
                </div>
            </div>

            <!-- Single Item -->
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="crs_partn">
                    <div class="p-3">
                        <img src="~/assets/img/lg-7.png" class="img-fluid" alt="" />
                    </div>
                </div>
            </div>

            <!-- Single Item -->
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="crs_partn">
                    <div class="p-3">
                        <img src="~/assets/img/lg-8.png" class="img-fluid" alt="" />
                    </div>
                </div>
            </div>

            <!-- Single Item -->
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="crs_partn">
                    <div class="p-3">
                        <img src="~/assets/img/lg-9.png" class="img-fluid" alt="" />
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<div class="clearfix"></div>
<!-- ============================ partner End ================================== -->
<!-- ============================ Students Reviews ================================== -->
<section>
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8">
                <div class="sec-heading center">
                    <h2>Our Students <span class="theme-cl">Reviews</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-sm-12">

                <div class="reviews-slide space">

                    <!-- Single Item -->
                    <div class="single_items lios_item">
                        <div class="_testimonial_wrios shadow_none border">
                            <div class="_testimonial_flex">
                                <div class="_testimonial_flex_first">
                                    <div class="_tsl_flex_thumb">
                                        <img src="~/assets/img/user-1.jpg" class="img-fluid" alt="">
                                    </div>
                                    <div class="_tsl_flex_capst">
                                        <h5>Susan D. Murphy</h5>
                                        <div class="_ovr_posts"><span>CEO, Leader</span></div>
                                        <div class="_ovr_rates"><span><i class="fa fa-star"></i></span>4.7</div>
                                    </div>
                                </div>
                                <div class="_testimonial_flex_first_last">
                                    <div class="_tsl_flex_thumb">
                                        <img src="~/assets/img/c-1.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="facts-detail">
                                <p>Faucibus tristique felis potenti ultrices ornare rhoncus semper hac facilisi Rutrum tellus lorem sem velit nisi non pharetra in dui.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Item -->
                    <div class="single_items lios_item">
                        <div class="_testimonial_wrios shadow_none border">
                            <div class="_testimonial_flex">
                                <div class="_testimonial_flex_first">
                                    <div class="_tsl_flex_thumb">
                                        <img src="~/assets/img/user-2.jpg" class="img-fluid" alt="">
                                    </div>
                                    <div class="_tsl_flex_capst">
                                        <h5>Maxine E. Gagliardi</h5>
                                        <div class="_ovr_posts"><span>Apple CEO</span></div>
                                        <div class="_ovr_rates"><span><i class="fa fa-star"></i></span>4.5</div>
                                    </div>
                                </div>
                                <div class="_testimonial_flex_first_last">
                                    <div class="_tsl_flex_thumb">
                                        <img src="~/assets/img/c-2.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="facts-detail">
                                <p>Faucibus tristique felis potenti ultrices ornare rhoncus semper hac facilisi Rutrum tellus lorem sem velit nisi non pharetra in dui.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Item -->
                    <div class="single_items lios_item">
                        <div class="_testimonial_wrios shadow_none border">
                            <div class="_testimonial_flex">
                                <div class="_testimonial_flex_first">
                                    <div class="_tsl_flex_thumb">
                                        <img src="~/assets/img/user-3.jpg" class="img-fluid" alt="">
                                    </div>
                                    <div class="_tsl_flex_capst">
                                        <h5>Roy M. Cardona</h5>
                                        <div class="_ovr_posts"><span>Google Founder</span></div>
                                        <div class="_ovr_rates"><span><i class="fa fa-star"></i></span>4.9</div>
                                    </div>
                                </div>
                                <div class="_testimonial_flex_first_last">
                                    <div class="_tsl_flex_thumb">
                                        <img src="~/assets/img/c-3.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="facts-detail">
                                <p>Faucibus tristique felis potenti ultrices ornare rhoncus semper hac facilisi Rutrum tellus lorem sem velit nisi non pharetra in dui.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Item -->
                    <div class="single_items lios_item">
                        <div class="_testimonial_wrios shadow_none border">
                            <div class="_testimonial_flex">
                                <div class="_testimonial_flex_first">
                                    <div class="_tsl_flex_thumb">
                                        <img src="~/assets/img/user-4.jpg" class="img-fluid" alt="">
                                    </div>
                                    <div class="_tsl_flex_capst">
                                        <h5>Dorothy K. Shipton</h5>
                                        <div class="_ovr_posts"><span>Linkedin Leader</span></div>
                                        <div class="_ovr_rates"><span><i class="fa fa-star"></i></span>4.7</div>
                                    </div>
                                </div>
                                <div class="_testimonial_flex_first_last">
                                    <div class="_tsl_flex_thumb">
                                        <img src="~/assets/img/c-4.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="facts-detail">
                                <p>Faucibus tristique felis potenti ultrices ornare rhoncus semper hac facilisi Rutrum tellus lorem sem velit nisi non pharetra in dui.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Item -->
                    <div class="single_items lios_item">
                        <div class="_testimonial_wrios shadow_none border">
                            <div class="_testimonial_flex">
                                <div class="_testimonial_flex_first">
                                    <div class="_tsl_flex_thumb">
                                        <img src="~/assets/img/user-5.jpg" class="img-fluid" alt="">
                                    </div>
                                    <div class="_tsl_flex_capst">
                                        <h5>Robert P. McKissack</h5>
                                        <div class="_ovr_posts"><span>CEO, Leader</span></div>
                                        <div class="_ovr_rates"><span><i class="fa fa-star"></i></span>4.7</div>
                                    </div>
                                </div>
                                <div class="_testimonial_flex_first_last">
                                    <div class="_tsl_flex_thumb">
                                        <img src="~/assets/img/c-5.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="facts-detail">
                                <p>Faucibus tristique felis potenti ultrices ornare rhoncus semper hac facilisi Rutrum tellus lorem sem velit nisi non pharetra in dui.</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</section>
<!-- ============================ Students Reviews End ================================== -->
