@using AlgoCode.Application.Features.Tags.Queries
@model GetTagsWithPaginationQueryResponse
<header>
    <style>
        td {
            vertical-align: middle !important;
        }
    </style>
</header>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Tag Table</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <a class="btn btn-primary mb-3" asp-action="create" asp-controller="tags">Create Tag</a>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Created At</th>
                        <th>Modified At</th>
                        <th colspan="3" style="text-align:center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tag in Model.Tags)
                    {
                        <tr>
                            <td>@tag.Id</td>
                            <td>@tag.Title</td>
                            <td>@tag.Created</td>
                            <td>@tag.LastModified</td>
                            <td class="text-center">
                                <a asp-action="update" asp-controller="tags" asp-route-id="@tag.Id" class="btn btn-primary">Update</a>
                            </td>
                            <td class="text-center">
                                <form method="post">
                                    <button asp-action="delete" asp-controller="tags" asp-route-id="@tag.Id" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>