@using AlgoCode.Application.Features.Sessions.Queries.GetAll
@model ICollection<GetSessionsQueryResponse>

<!-- ============================ Dashboard: Dashboard Start ================================== -->
<section class="gray pt-4">
    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-3 col-md-3">
                <div class="dashboard-navbar">

                    <div class="d-user-avater">
                        <img src="~/assets/img/user-3.jpg" class="img-fluid avater" alt="">
                        <h4>@User.Identity.Name</h4>
                        <span>Application User</span>
                        <div class="elso_syu89">
                            <ul>
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-twitter"></i></a></li>
                                <li><a href="#"><i class="ti-instagram"></i></a></li>
                                <li><a href="#"><i class="ti-linkedin"></i></a></li>
                            </ul>
                        </div>

                    </div>

                    <div class="d-navigation">
                        <ul id="side-menu">
                            <li class="active"><a asp-action="index" asp-controller="dashboard"><i class="fas fa-th"></i>Dashboard</a></li>
                            <li><a asp-action="index" asp-controller="submissions"><i class="fas fa-paint-brush"></i>Submissions</a></li>
                            <li><a asp-action="index" asp-controller="sessions"><i class="fas fa-comments"></i>Sessions</a></li>
                            <li><a asp-action="index" asp-controller="subscription"><i class="fas fa-comments"></i>Subscription</a></li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="col-lg-9 col-md-9 col-sm-12">

                <!-- Row -->
                <div class="row justify-content-between">
                    <div class="col-lg-12 col-md-12 col-sm-12 pb-4">
                        <div class="dashboard_wrap d-flex align-items-center justify-content-between">
                            <div class="arion">
                                <nav class="transparent">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active" aria-current="page">
                                            <i class="fa-solid fa-bars-progress mr-2"></i>Session Management
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Row -->

                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="dashboard_wrap">
                            <div class="session-container">
                                <div class="session-instruction">
                                    <h4>Instructions</h4>
                                    <p>
                                        To make a fresh start, <b>create</b> a new session and click on the new
                                        session to <b>activate</b> it.
                                    </p>
                                    <p>
                                        Your progress will be tracked separately in the newly created session and
                                        you can start another practicing round.
                                    </p>
                                    <p>
                                        You can't create more than 5 session.
                                    </p>
                                </div>
                                <div class="create-session">
                                    <div class="mt-3 d-flex">
                                        <form method="post" asp-action="create" asp-controller="sessions" class="d-flex">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <input type="text" class="form-control" name="Title" placeholder="Session Name (optional)" />
                                            <button type="submit" class="btn btn-sm btn-primary">Create</button>
                                        </form>
                                    </div>
                                </div>

                                @foreach (var sessionDetail in Model)
                                {
                                    <div class="session-content-box">
                                        <div class="session-header d-flex justify-content-between">
                                            <div style="margin-block: auto; width: 50%;">
                                                <span id="sessionName">@($"{sessionDetail.Session.Title}")</span>
                                                <span id="session-status">@($"{(sessionDetail.Session.IsActive ? "(Active)" : "")}")</span>
                                            </div>
                                            <div>

                                                <form method="post">
                                                    @if (!sessionDetail.Session.IsActive)
                                                    {
                                                        <button style="background-color:transparent;border:none;" asp-action="activate" asp-controller="sessions" asp-route-id="@sessionDetail.Session.Id">Activate</button>
                                                    }
                                                    <button type="button" class="edit-btn btn" style="color:#3C763D;" onclick="editSessionName(@sessionDetail.Session.Id)">
                                                        <i class="fa-solid fa-pen-to-square"></i>
                                                    </button>
                                                    <button type="submit" asp-action="delete" asp-controller="sessions" asp-route-id="@sessionDetail.Session.Id" style="background-color:transparent;border:none;">
                                                        <i class="fa-solid fa-xmark" style="font-weight:bold;"></i>
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="session-content">
                                            <div>
                                                <div>
                                                    Number of accepted questions
                                                    <span class="badge bg-megna">@sessionDetail.AcceptedQuestionsCount</span>
                                                </div>
                                            </div>
                                            <div>
                                                <div>
                                                    Number of submitted questions
                                                    <span class="badge bg-megna">@sessionDetail.SubmittedQuestionsCount</span>
                                                </div>
                                            </div>
                                            <div>
                                                <div>
                                                    Number of accepted submissions
                                                    <span class="badge bg-megna">@sessionDetail.AcceptedSubmissionsCount</span>
                                                </div>
                                            </div>
                                            <div>
                                                <div>
                                                    Number of submissions
                                                    <span class="badge bg-megna">@sessionDetail.SubmissionsCount</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- ============================ Dashboard: Dashboard End ================================== -->


<script>
    function editSessionName(sessionId) {
        var sessionNameElement = document.getElementById('sessionName');

        var currentSessionName = sessionNameElement.innerText;

        var inputElement = document.createElement('input');
        inputElement.type = 'text';
        inputElement.value = currentSessionName;

        sessionNameElement.innerHTML = '';
        sessionNameElement.appendChild(inputElement);

        var confirmBtn = document.createElement('button');
        confirmBtn.type = 'button';
        confirmBtn.textContent = 'Confirm';

        confirmBtn.addEventListener('click', function () {
            var requestData = {
                Id: sessionId,
                Title: inputElement.value
            };

            $.ajax({
                type: 'POST',
                url: "@Url.Action("Update", "Sessions")",
                contentType: 'application/json',
                data: JSON.stringify(requestData),
                success: function (response) {
                    console.log("Success: " + response);
                    var updatedSessionTitle = requestData.Title

                    sessionNameElement.innerText = updatedSessionTitle;

                    inputElement.remove();

                    var editButton = document.querySelector('.edit-button');
                    if (editButton) {
                        editButton.style.display = 'inline-block';
                    }
                },
                error: function (xhr, status, error) {
                    console.log("Error: " + error);
                }
            });
        });

        var cancelBtn = document.createElement('button');
        cancelBtn.type = 'button';
        cancelBtn.textContent = 'Cancel';

        cancelBtn.addEventListener('click', function () {
            sessionNameElement.innerHTML = currentSessionName;
            inputElement.remove();

            var editButton = document.querySelector('.edit-button');
            if (editButton) {
                editButton.style.display = 'inline-block';
            }
        });

        sessionNameElement.appendChild(confirmBtn);
        sessionNameElement.appendChild(cancelBtn);
    }
</script>